.App {
  text-align: center;
  font-family: 'Georama', sans-serif;
  height: 100%;
  padding: 10px;
}

section#skills svg {
  height: 50px;
  margin: 15px;
}

ul {
  list-style: none;
}

a {
  color: rgb(214, 211, 211);
}

@media only screen and (max-width: 992px) {
  #hero-text {
    font-size: 64px;
  }
}


@media only screen and (max-width: 768px) {
  #hero-text {
    font-size: 48px;
  }

  svg {
    height: 25px;
  }
}


@media only screen and (max-width: 600px) {
  #hero-text {
    font-size: 32px;
  }

  svg {
    display: none;
  }
}
